/* CSS declarations go here */

/* HTML OVERRIDES */

body {
  font-family: sans-serif;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

#login-buttons {
  display: block;
}


/* List formatting for text editor */
ul {
    margin: 0 0 0 5px;
    padding: 0px;
    background-color: transparent;
}

li {
    position: relative;
    list-style: bullet;
    padding: 0;
    margin: 0 0 0 15px;
    background-color: transparent;
}

li .text {
    margin-left: 10px;
}




input {
    margin: 0;
    padding: 0;
}



/* BOOTSTRAP OVERRIDES */

.alert{
    padding: 0 5px 0 5px;
    margin: 0;
}

.checkbox {
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 0;
    min-height: 100%;
    background: transparent;
    padding: 0;
}

.row{
    margin: 0px;
}

.col{
    margin: 0;
    padding: 0px;
}

.panel {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
    webkit-box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);*/
}

.panel-item > .panel{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.panel-design > .panel {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;

}

.panel-default > .panel-heading {
    color: darkslategrey;
    background-color: #DDEEEE;
    margin: 0;
    border: 1px solid darkslategrey;
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);*/
}

.panel-small > .panel-heading {
    color: darkgrey;
    margin: 10px 10px 0 10px;
    font-size:  14px;
    font-weight: normal;
}

.panel-steps > .panel-heading {
    color: black;
    margin: 10px 0px 0 0px;
    font-size:  14px;
    font-weight: normal;
}

.panel-text > .panel-heading {
    color: black;
    margin: 5px 0 0 0;
    font-size:  14px;
    font-weight: normal;
}

.panel-update > .panel-heading {
    color: black;
    margin: 10px 0px 0 0px;
    font-size:  16px;
    font-weight: normal;
    border-bottom: 1px solid darkgrey;
}

.panel-heading {
    padding: 3px 0px 2px 10px;
    /*border: 1px solid lightgrey;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    font-weight: normal;
}

.sub-panel-heading {
    color: darkgrey;
    margin: 10px 10px 0 10px;
    padding: 3px 0px 2px 10px;
    /*border: 1px solid lightgrey;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
}

.panel-body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0px solid lightgrey;
    border-radius: 4px;
}

.panel-small-body > .panel-body{
    margin: 0 10px 0 10px;
    padding: 3px 0px 2px 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
    /*border-top: 0px;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
}

.panel-update-body > .panel-body{
    margin: 0;
    padding: 3px 0px 2px 0px;
    background-color: transparent;
}

.panel-steps-body > .panel-body{
    margin: 0 0px 0 0px;
    padding: 3px 0px 2px 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
}

.panel-text-body > .panel-body{
    margin: 0 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
}

.panel-grid-header{
    margin: 0 10px 0 0px;
    padding: 3px 0px 2px 0px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
}

.input-group-addon {
    padding: 4px;
    font-size: 12px;
    font-weight: normal;
    /*line-height: 1;*/
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 4px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    padding: 2px;
    height: auto;

}

.form-control-static {
    min-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    background-color: transparent;
    border: 0;
}


/* ULTRAWIDE */

.ultrawide-header{
    float: left;
    width: 100%;
    color: white;
    padding: 5px 20px 5px 20px
}

.ultrawide-logo{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  18px;
    font-weight: normal;
    letter-spacing: 6px;
    margin: 0;
    float: left;
}

.ultrawide-status{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  16px;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 3px 0 3px 20px;
    float: left;
}

.status-designer{
    color: lime;
}

.status-developer{
    color: lightpink;
}

.status-manager{
    color: paleturquoise;
}

.header-message{
    float: left;
    margin: 3px 10px 3px 10px;
    padding: 0 5px 0 25px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  15px;
    font-weight: normal;
    border-left: 1px solid lightgrey;
}

.info1{
    color: transparent;
    background-color: transparent;
    animation-name: info-animation1;
    animation-duration: 4s;
}

.info2{
    color: transparent;
    background-color: transparent;
    animation-name: info-animation2;
    animation-duration: 4s;
}

.success1{
    color: transparent;
    background-color: transparent;
    animation-name: success-animation1;
    animation-duration: 4s;
}

.success2{
    color: transparent;
    background-color: transparent;
    animation-name: success-animation2;
    animation-duration: 4s;
}

.warning1{
    color: transparent;
    background-color: transparent;
    animation-name: warning-animation1;
    animation-duration: 10s;
}

.warning2{
    color: transparent;
    background-color: transparent;
    animation-name: warning-animation2;
    animation-duration: 10s;
}

.danger1{
    color: transparent;
    background-color: transparent;
    animation-name: danger-animation1;
    animation-duration: 10s;
}

.danger2{
    color: transparent;
    background-color: transparent;
    animation-name: danger-animation2;
    animation-duration: 10s;
}

@keyframes info-animation1 {
    0%   {color: darkslategray}
    75%  {color: darkslategray}
    100% {color: transparent}
}

@keyframes info-animation2 {
    0%   {color: darkslategray}
    75%  {color: darkslategray}
    100% {color: transparent}
}

@keyframes success-animation1 {
    0%   {color: darkslategray}
    75%  {color: darkslategray}
    100% {color: transparent}
}

@keyframes success-animation2 {
    0%   {color: darkslategray}
    75%  {color: darkslategray}
    100% {color: transparent}
}

@keyframes warning-animation1 {
    0%   {color: yellow; background-color: darkgoldenrod}
    75%  {color: yellow; background-color: darkgoldenrod}
    100% {color: transparent; background-color: transparent}
}

@keyframes warning-animation2 {
    0%   {color: yellow; background-color: darkgoldenrod}
    75%  {color: yellow; background-color: darkgoldenrod}
    100% {color: transparent; background-color: transparent}
}

@keyframes danger-animation1 {
    0%   {color: pink; background-color: darkred}
    75%  {color: pink; background-color: darkred}
    100% {color: transparent; background-color: transparent}
}

@keyframes danger-animation2 {
    0%   {color: pink; background-color: darkred}
    75%  {color: pink; background-color: darkred}
    100% {color: transparent; background-color: transparent}
}


.top-menu-bar{
    float: right;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 3px 0 3px 0;
}

.top-menu-item{
    float: left;
    margin: 0;
    padding: 0 10px 0 10px;
    border: 0 solid transparent;
    background-color: transparent;
    color: lightgrey;
    border-left: 1px solid lightgrey;
}

.editor-menu-item{
    float: left;
    margin: 0;
    padding: 0 10px 0 10px;
    border: 0 solid transparent;
    background-color: transparent;
    font-size:  13px;
    color: darkgrey;
    border-left: 1px solid darkgrey;
}

.editor-menu-item-holder{
    float: left;
}

/* Bootstrap override */
.dropdown-menu {
    white-space: nowrap;
    min-width: 50px;
}

.menu-designer{
    background-color: mediumseagreen;
}

.menu-developer{
    background-color: indianred;
}

.menu-manager{
    background-color: steelblue;
}

.dropdown-menu-item{
    color: lightgrey;
    padding: 0 5px 0 5px;
}

.dropdown-item-name{
    color: lightgrey;
    letter-spacing: 0;
    padding: 2px 10px 0 0;
}

.menu-highlight-designer{
    color: lime;
}

.menu-highlight-developer{
    color: lightpink;
}

.menu-highlight-manager{
    color: paleturquoise;
}

.editor-menu-highlight{
    color: indianred;
}

.view-toggle-active{
    float: left;
    background-color: ghostwhite;
}

.view-toggle-inactive{
    float: left;
}

.dropdown-item-name{
    letter-spacing: 0;
}

.top-header-buttons{
    padding: 2px 0 0 0;
}

.header-row-top{
    padding: 10px 0 10px 0;
}

.header-row-bottom{
    padding: 0 0 10px 0;

    border-bottom: 1px solid lightgrey
}

.designer{
    color: white;
    background-color: mediumseagreen;
}

.developer{
    color: white;
    background-color: indianred;
}

.manager{
    color: white;
    background-color: steelblue;
}

.no-role{
    color: black;
    background: darkgrey;
}

.header-title{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: darkgrey
}

.header-data{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: darkblue;
    margin: 0 5px 0 5px;
}

.design-summary{
    margin: 0;
    padding: 0;
}

.summary-title{
    margin: 0 1px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: black
}

.summary-data{
    margin: 0 5px 0 1px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: blue;
}

.login-screen{
    margin: 50px;
    padding: 50px;
    border: 1px solid blue;
}

.main-grid{
    margin: 0;
    padding: 0px;
    width: auto;
}

.close-grid{
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
}

.close-grid-progress{
    margin: 0;
    padding: 0;
    width: 16px;
    height: 12px;
    background-color: transparent;
}


.close-col{
    margin: 0;
    padding: 0 5px 0 5px;
    background-color: transparent;
}

.col-right{
    float: right;
}

.new-old-divider{
    margin: 10px 0 10px 0;
    height: 4px;
    background-color: lightgrey;
}

/* DESIGN ITEMS ----------------------------------------------------------------------------------------------------- */

.item-col{
    margin: 0;
    padding: 0 0 0 10px;
    background-color: transparent;
}

.item-container{
    margin: 15px 0 0 0;
    padding: 0 1px 1px 1px;
    box-shadow: 2px 2px 5px rgba(100, 100, 100, .5);
    border-radius: 4px;
}

.item-container-header{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    color: ghostwhite;
    background-color: darkslategrey;
    margin: 0;
    padding: 3px 10px 3px 20px;
    border: 1px solid ghostwhite;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.item-container-footer{
    border-top: 1px solid ghostwhite;
    min-height: 25px
}

.scroll-col{
    max-height: 900px;
    overflow-y: auto;
}

.design-item{
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 20px;
    padding: 0px;
}

.di-active{
    border: 1px solid black;
    border-radius: 2px;
    background-color: aliceblue;
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);*/
}

.design-item-note{
    margin: 0 10px 10px 10px;
    padding: 5px 10px 10px 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    color: black;
}

.design-item-button{
    margin: 0 10px 10px 10px;
    padding: 0px;
}

.design-item-status{
    margin: 0;
    padding: 3px 3px 3px 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    color: darkgrey;
    width: 100%;
}

.item-status-new{
    background-color: #FFFFDD;
}

.item-status-draft{
    background-color: #EEEEFF;
}

.item-status-complete{
    background-color: #EEEEEE;
}

.item-status-updatable{
    background-color: #EEFFEE;
}

.item-status-available{
    background-color: #EEFFEE;
}

.item-status-ignored{
    background-color: #FFEEEE;
}

.item-status-adopted{
    background-color: #FFEEDD;
}


.design-item-header{
    margin: 0;
    padding: 10px 10px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  16px;
    font-weight: normal;
    color: black;
}

.design-item-text{
    margin: 10px;
    padding: 0px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: darkgrey;
}

.design-item-add{
    margin: 10px;
}

.button-group-left{
    margin: 0 5px 0 0;
    padding: 10px;
}

.merge-options{
    padding: 10px;
}
.adopter{
    margin: 3px 0 3px 0;
    padding: 2px 0 2px 5px;
    border: 1px solid indianred;
    border-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-weight: normal;
    color: indianred;
    background-color: pink;
}

/* -- Design Version Modal ------------------------------------------------------------------------------------------ */

.merge-alert{
    margin: 6px;
    padding: 4px;
    color: indianred;
    border-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
}

.merge-normal{
    margin: 6px;
    padding: 4px;
    color: black;
    background-color: transparent;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
}

.merge-header{
    margin: 10px 6px 0px 6px;
    padding: 4px;
    color: black;
    background-color: transparent;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
}

.merge-include{
    margin: 2px 6px 2px 6px;
    padding: 4px;
    border: 1px solid darkgreen;
    background-color: #EEFFEE;
    border-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
}

.merge-roll{
    margin: 2px 6px 2px 6px;
    padding: 4px;
    border: 1px solid darkblue;
    background-color: #EEEEFF;
    border-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
}

.merge-ignore{
    margin: 2px 6px 2px 6px;
    padding: 4px;
    border: 1px solid darkred;
    background-color: #FFEEEE;
    border-radius: 4px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
}

/* -- Wait Screen --------------------------------------------------------------------------------------------------- */

.wait-bar{
    margin: 100px;
    height: 40px;
    border: 1px solid darkblue;
    border-radius: 2px;
}

.wait-animation{
    margin: 0;
    height: 38px;
    animation-name: progress;
    animation-duration: 5s;
}

@keyframes progress {

    from{
        width: 0;
        background-color: darkslateblue;
    }

    to{
        width: 100%;
        background-color: skyblue;
    }
}

.wait-message{
    margin: 100px;
    padding: 20px;
    border: 2px solid indianred;
    border-radius: 4px;
    background-color: pink;
}

.wait-message-main{
    margin: 10px;
    padding: 0px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    font-weight: normal;
    color: black;
}

.wait-message-details{
    margin: 10px;
    padding: 0px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    font-weight: normal;
    color: indianred;
}

/* -- User Management ----------------------------------------------------------------------------------------------- */

.user-edit{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
    background-color: paleturquoise;
}

.user-view{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
}

.user-not-selected{
    background-color: ghostwhite;
}

.user-selected{
    background-color: paleturquoise;
}

.user-active{
    color: black;
}
.user-inactive{
    color: darkgrey;
}

.user-buttons{
    margin: 10px;
}

/* -- Test Output Locations ----------------------------------------------------------------------------------------- */

.test-output-location-edit{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
    background-color: paleturquoise;
}

.test-output-location{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
}

.test-output-file{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    background-color: aquamarine;
}

.location-inactive{
    background-color: ghostwhite;
}

.location-active{
    background-color: paleturquoise;
}

.output-location-buttons{
    margin: 10px;
}

.user-test-location{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    background-color: #EEFFEE;
}


/* -- Role Selection ------------------------------------------------------------------------------------------------ */

.role-button-active{
    background-color: lightgoldenrodyellow;
}

.role-button-disabled{
    color: darkgrey;
    background-color: lightgrey;
}

.well-designer{
    margin: 20px;
    color: lime;
    background-color: mediumseagreen;
}

.well-developer{
    margin: 20px;
    color: lightpink;
    background-color: indianred;
}

.well-manager{
    margin: 20px;
    color: paleturquoise;
    background-color: steelblue;
}


.path-item{
    margin: 30px;
}

.role-name{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  22px;
    font-weight: normal;
    letter-spacing: 8px;
}

.role-action{
    margin: 10px 20px 10px 0px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  18px;
    font-weight: normal;
    color: black;
    white-space: pre;
    border-radius: 4px;
}

.action-designer{
    border: 1px solid darkgreen;
}

.action-developer{
    border: 1px solid darkred;
}

.action-manager{
    border: 1px solid darkblue;
}

.role-action-icon{
    margin: 0 10px 0 10px;
    font-size:  14px;
}

.active-designer{
    border: 1px solid darkgreen;
    color: lime;
}

.active-developer{
    border: 1px solid darkred;
    color: lightpink;
}

.active-manager{
    border: 1px solid darkblue;
    color: turquoise;
}

.icon-designer{
    color: lime;
}

.icon-developer{
    color: lightpink;
}

.icon-manager{
    color: turquoise;
}

/* -- Design Update Summary ----------------------------------------------------------------------------------------- */

/*.update-summary-container{*/
    /*margin: 20px 0 0 0;*/
    /*padding: 0 1px 1px 1px;*/
    /*box-shadow: 2px 2px 5px rgba(100, 100, 100, .5);*/
    /*border-radius: 0px;*/
/*}*/

/*.update-summary-header{*/
    /*font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;*/
    /*font-size:  18px;*/
    /*color: white;*/
    /*background-color: indianred;*/
    /*margin: 0;*/
    /*padding: 5px 10px 5px 20px;*/
    /*border: 1px solid ghostwhite;*/
/*}*/

.update-summary-change-container{
    margin: 10px 0 0 0;
    padding: 0 1px 1px 1px;
    border: 1px solid ghostwhite;
}

.update-summary-change-header{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    color: darkgrey;
    margin: 0;
    padding: 2px 10px 2px 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.change-add{
    background-color: #EEFFEE;
}

.change-remove{
    background-color: #FFEEEE;
}

.change-modify{
    background-color: #FFEEDD;
}

.summary-header{
    margin: 3px 1px 3px 1px;
    padding: 2px;
    border: 0px solid lightgrey;
    border-radius: 0px;
    background-color: ghostwhite;
}

.summary-modify{
    margin: 0 5px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: blue;
}

.summary-add{
    margin: 0 5px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: green;
}

.summary-remove{
    margin: 0 5px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    font-weight: normal;
    color: red;
}

.summary-to-from{
    margin: 0 5px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
    color: blue;
}

.summary-item{
    margin: 3px 5px 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
    color: darkslategray;
}

.summary-icon{
    margin: 0 0 0 10px;
    font-size:  12px;
    font-weight: normal;
    color: darkslategray;
}

.item-old{
    color: red;
}

.item-new{
    color: green;
}

/* -- Design Editor ------------------------------------------------------------------------------------------------- */

.design-editor-container{
    margin: 3px 0 0 0;
    padding: 0 1px 1px 1px;
    box-shadow: 2px 2px 5px rgba(100, 100, 100, .5);
}

.design-editor-header{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  15px;
    color: darkslategrey;
    background-color: #CCEEEE;
    margin: 0;
    padding: 5px 10px 5px 0;
    border-top: 1px solid ghostwhite;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid ghostwhite;
}

.header-description{
    float: left;
    color: darkslategrey;
}

.design-editor-footer{
    border-top: 1px solid ghostwhite;
    padding: 5px;
    min-height: 35px
}

.details-editor-footer{
    border-top: 1px solid ghostwhite;
    padding: 0;
    min-height: 5px
}

.details-footer-note{
    margin: 0;
    padding: 5px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    color: darkgrey;
}

.details-close{
    float: right;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-weight: normal;
    color: red;
    margin: 3px 0 3px 0;
}

.details-menu-bar{
    float: right;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 3px 0 3px 0;
}

.design-editor-large{
    margin: 0;
    padding: 3px;
    max-height: 1200px;
    overflow-y: auto;
}

.design-editor-small{
    margin: 0;
    padding: 3px;
    max-height: 900px;
    overflow-y: auto;
}

.details-editor{
    margin: 0;
    padding: 3px;
    max-height: 400px;
    overflow-y: auto;
}

.int-tests-editor{
    margin: 0;
    padding: 3px;
    max-height: 900px;
    overflow-y: auto;
}

.design-component-panel{
    border: 0px;
    padding: 0;
    margin: 0;
}

.design-component{
    margin: 0;
    border: 1px solid transparent;
    padding: 0 0 0 0px;
}
.dc-active{
    /*background-color: aliceblue;*/
    border: 1px solid darkblue;
}

.editableItem{
    padding: 0 0 0 5px;
    background-color: lightyellow;
    border-top: 1px solid lightgrey;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-left: 1px solid lightgrey;
    min-height: 24px;
}

.readOnlyItem{
    padding: 0 0 0 0;
    background-color: transparent;
    border: 1px solid transparent;
    min-height: 24px;
}

.application{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    font-weight: bold;
    color: black;
}

.section1{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  20px;
    color: black;
    background-color: transparent;
}

.section2{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  16px;
    width: 100%;
    color: darkslategray;
    background-color: transparent;
}

.section3{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    color: black;
    background-color: transparent;
}

.section4{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    color: black;
    background-color: transparent;
}

.control-table-data-app{
    padding: 0 10px 0 10px;
}

.control-table-data-section{
    padding: 0 10px 0 10px;
}

.control-table-data-feature{
    padding: 0 10px 0 10px;
}

.control-table-data-feature-aspect{
    padding: 0 10px 0 10px;
}

.control-table-data-scenario{
    padding: 0 10px 0 55px;
}

.add-item-context-section{
    padding: 0 0px 0 35px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  11px;
    color: darkgrey;
}

.feature {
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    padding: 3px 0 0 0;
    font-size:  15px;
    font-weight: bold;
    color: darkred;
    background-color: transparent;
}

.feature-aspect {
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    padding: 4px 0 0 0;
    font-size:  14px;
    font-weight: bold;
    color: black;
    background-color: transparent;
}

.narrative {
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-style: italic;
    padding: 0 0 0 60px;
    color: black;
    background-color: transparent;
}

.narrative-edit {
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-style: italic;
    padding: 0 0 0 60px;
    color: black;
    background-color: papayawhip;
    border-top: 0px solid lightgrey;
    border-bottom: 0px solid lightgrey;
}

.scenario{
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    padding: 2px 0 0 0px;
    color: darkslategrey;
    background-color: transparent;
}

.open-status-open{
    font-size: 12px;
    color: darkgrey;
}

.open-status-closed{
    font-size: 12px;
    color: lightgrey;
}

.item-indent-none{
    width: 1px;
}

.item-indent-section{
    width: 10px;
}

.item-indent-feature{
    width: 20px;
}

.item-indent-feature-aspect{
    width: 25px;
}

.item-indent-scenario{
    width: 30px;
}

.update-merge-status{
    width: 18px;
    height: 18px;
}
.component-base{
    color: lightgrey;
}

.component-base-parent{
    color: lightblue;
}

.component-added{
    color: limegreen;
}

.component-modified{
    color: orange;
}

.component-details-modified{
    color: palegoldenrod;
}

.component-removed{
    color: indianred;
}

.component-moved{
    color: lightblue;
}

.step-type-col{
    min-width: 400px;
}

.step-editor{
    width: 100%;
}

.scenario-step-editor{
    width: 100%;
    margin: 0 0 0 0px;
}

.scenario-step-type{
    font-weight: bold;
    padding: 3px 5px 0 0;
    width: 50px;
}

.scenario-step-type-chooser{
    font-weight: bold;
    padding: 0px 5px 0 0;
    min-width: 60px;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    height: 24px;
    box-shadow: none;
    background-color: papayawhip;
}

.step-background{
    color: cornflowerblue;
}

.scenario-step-text{
    padding: 3px 5px 0 0;
}

.suggested-steps{
    margin: 2px 40px 0 85px;
    border: 1px solid lightgrey;
}
.suggested-step{
    padding: 2px 2px 2px 5px;
}

.suggested-highlight{
    background-color: yellow;
}

.domain-item{
    margin: 5px 5px 0 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid lightgrey;
}

.domain-term{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    padding: 3px 0 0 5px;
    font-size:  14px;
    color: darkblue;
    font-weight: bold;
}

.domain-definition{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    padding: 3px 10px 0 5px;
    font-size:  13px;
    color: black;
    font-weight: normal;
}

.dragging-item{
    color: lightgrey;
}

.greyed-out{
    color: darkgrey;
}

.ghosted{
    color: lavender;
}

.removed-item{
    text-decoration: line-through;
}



.highlight{
    background-color: powderblue;
}

.in-scope{
    font-size: 10px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    padding: 1px;
    margin: 0;
    color: black;
    background-color: lightgreen;
}

.in-parent-scope{
    font-size: 10px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    padding: 1px;
    margin: 0;
    color: darkgrey;
    background-color: lightgrey;
}

.out-scope{
    font-size: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 1px;
    margin: 0;
    color: transparent;
    background-color: transparent;
}

.not-scopable{
    font-size: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 1px;
    margin: 0;
    color: transparent;
    background-color: lightgrey;
}

/* -- Progress indication ------------------------------------------------------------------------------------------- */

.progress-empty{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 16px;
    font-size: 10px;
    background-color: lightgrey;
}

.progress-full{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 16px;
    font-size: 10px;
    font-weight: bold;
    background-color: lightblue;
}

.progress-red{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 7px;
    background-color: red;
}

.progress-green{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 7px;
    background-color: lightgreen;
}

.progress-pending{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 7px;
    background-color: lightgrey;
}
.progress-invisible{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 7px;
    color: transparent;
    background-color: transparent;
}

.progress-impl-invisible{
    margin: 0;
    padding: 0;
    height: 12px;
    width: 16px;
    color: transparent;
    background-color: transparent;
}

/* -- Design Text --------------------------------------------------------------------------------------------------- */

.text-underline{
    border-bottom: 1px solid lightgrey;
}

.text-title{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  18px;
    font-weight: normal;
    color: black;
}

.text-note{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-weight: normal;
    color: darkgrey;
}

.item-text-editable{
    font-family: 'Baskervile', 'Palatino Linotype', Times, serif;
    font-size:  13px;
    padding: 2px;
    margin: 0 0 10px 0;
    color: black;
    background-color: lightyellow;
    border-top: 1px solid lightgrey;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-left: 1px solid lightgrey;
}

.item-text{
    font-family: 'Baskervile', 'Palatino Linotype', Times, serif;
    font-size:  13px;
    padding: 0;
    margin: 0 0 10px 0;
    color: black;
    background-color: lightyellow;
}


.editor-panel-large{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    padding: 15px;
    margin: 0;
    color: black;
    background-color: white;
    min-height: 300px;
}

.editor-panel-small{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    padding: 15px;
    margin: 0;
    color: black;
    background-color: white;
    min-height: 200px;
}

.editor-panel-edit{
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  14px;
    padding: 15px;
    background-color: lightyellow;
    border-top: 1px solid lightgrey;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-left: 1px solid lightgrey;
}

.editor-toolbar{
    margin: 3px 0 0 0;
}



.move-target{
    height: 5px;
    color: transparent;
}

.move-target-active{
    height: 44px;
    color: lightgrey;
    border: 1px solid yellowgreen;
}

/*.active-open{*/
    /*border: 1px solid lightgrey;*/
    /*border-radius: 3px;*/
    /*background-color: whitesmoke;*/
/*}*/

/*.active-closed{*/
    /*border: 1px solid lightgrey;*/
    /*border-radius: 3px;*/
    /*background-color: whitesmoke;*/
/*}*/

.change-item-old{
    color: darkred;
    font-weight: bold;
}

.change-item-new{
    color: darkgreen;
    font-weight: bold;
}

.green{
  color: green;
}

.blue{
  color: lightblue;
}

.red{
  color: red;
}

.lgrey {
    color: lightgrey;
}

.invisible {
    width: 14px;
    color: transparent;
}

.drag-icon {
    width: 24px;
    font-size: 10px;
    padding: 0;
}

/* -- Dev Design Mash ----------------------------------------------------------------------------------------------- */

.mash-item {
    margin: 0;
    padding: 2px 0 0 0px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    background-color: transparent;
}

.mash-feature-group{
    padding: 0 0 10px 0;
    /*border-bottom: 1px solid lightgrey;*/
}
.mash-feature{
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    font-family: 'Century Gothic', 'Gill Sans', Arial, sans-serif;
    font-size:  13px;
    font-weight: bold;
    color: darkred;
}

.mash-aspect {
    margin: 0;
    padding: 2px 0 0 10px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    font-weight: bold;
    color: black;
}

.mash-unit-scenario {
    margin: 2px 0 2px 10px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid lightgrey;
    background: ghostwhite;
}

.mash-unit-scenario-glyph{
    color: darkgrey;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.mash-scenario {
    margin: 0;
    padding: 3px 10px 2px 10px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    background-color: transparent;
}

.mash-unit-scenario-results{
    margin: 0 10px 0 25px;

}

.mash-scenario-result {
    margin: 0;
    padding: 2px 0 2px 0px;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    background-color: transparent;
}

.mash-unit-test-scenario{
    margin: 0;
    padding: 2px 0 0 10px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  12px;
    color: blue;
    background-color: transparent;
}

.unit-test-result{

}

.unit-test-none{
    margin: 0;
    padding: 2px 0 0 35px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  11px;
    color: darkgrey;
    background-color: transparent;
}

.unit-test-group{
    margin: 0;
    padding: 2px 0 0 5px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  11px;
    font-weight: bold;
    color: black;
    background-color: transparent;
}

.unit-test{
    margin: 0;
    padding: 2px 0 0 20px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  11px;
    background-color: transparent;
}

.test-summary-text{
    margin: 0;
    padding: 0 5px 0 10px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  10px;
    background-color: transparent;
}

.test-summary-result{
    margin: 0;
    padding: 0 5px 0 10px;
    border: none;
    font-family: 'Geneva', 'Gill Sans', Arial, sans-serif;
    font-size:  10px;
    font-weight: bold;
    background-color: transparent;
}

.scenario-test-row-pass{
    margin: 0 0 0 0px;
    border: 1px solid transparent;
    background-color: #EEFFEE;
}

.scenario-test-row-fail{
    margin: 0 0 0 0px;
    border: 1px solid transparent;
    background-color: #FFEEEE;
}

.scenario-test-row-untested{
    margin: 0 0 0 0px;
    border: 1px solid transparent;
    background-color: #F9F9F9;
}

.non-summary-row{
    background-color: transparent;
}

.feature-no-highlight{
    color: darkgrey;
}

.feature-highlight-fail{
    color: red;
}

.feature-highlight-pass{
    color: green;
}

.feature-highlight-no-test{
    color: darkblue;
}

.feature-summary-good{
    margin: 2px 0 0 0;
    padding: 0 0 0 5px;
    color: lightgreen;
    background-color: limegreen;
    border: 1px solid black;
}

.feature-summary-mmm {
    margin: 2px 0 0 0;
    padding: 0 0 0 5px;
    color: lightgrey;
    background-color: darkseagreen;
    border: 1px solid black;
}

.feature-summary-meh{
    margin: 2px 0 0 0;
    padding: 0 0 0 5px;
    color: ghostwhite;
    background-color: lightgrey;
    border: 1px solid black;
}

.feature-summary-bad{
    margin: 2px 0 0 0;
    padding: 0 0 0 5px;
    color: lightpink;
    background-color: red;
    border: 1px solid black;
}

.feature-summary-no-scenarios{
    margin: 2px 0 0 0;
    padding: 0 0 0 5px;
    color: darkgrey;
    background-color: ghostwhite;
    border: 1px solid darkgrey;
}

.mash-linked {
    color: black;
}

.mash-not-implemented {
    color: lightgrey;
}

.mash-not-designed {
    color: lightgrey;
}

.mash-not-linked {
    color: lightgrey;
}

.mash-pending{
    color: darkorange;
}

.mash-pass {
    color: green;
}

.mash-fail {
    color: red;
}

.tag-active {
    color: blue;
}

.tag-inactive {
    color: lightgrey;
}

.test-fail-overlay {
    background-color: #FFEEEE;
    border: 1px solid darkred;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.test-pass-overlay {
    background-color: #EEFFEE;
    border: 1px solid darkgreen;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.test-none-overlay {
    background-color: #EEEEEE;
    border: 1px solid darkgrey;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.test-result-header {
    margin: 5px;
    font-size:  14px;
    font-weight: bold;
}

.test-result-pass {
    margin: 3px;
    width: auto;
    font-size:  14px;
}
.test-result-error {
    margin: 5px 5px 10px 5px;
    width: auto;
    font-size:  14px;
}

.test-result-none {
    margin: 3px;
    width: auto;
    font-size:  14px;
}

.test-result-stack {
    margin: 5px;
    height: auto;
    width: auto;
    font-size:  12px;
}

/* -- Feature Files ------------------------------------------------------------------------------------------------- */

.feature-file-panel{
    height: auto;
}

.feature-file {
    margin: 2px;
    padding: 2px;
    border: none;
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size:  8px;
    height: 100%
}

/* -- Add Item Groups ----------------------------------------------------------------------------------------------- */

.add-icon {
    color: lightgrey;
    font-size: 10px;
}

.add-icon-active {
    cursor: pointer;
    color: darkgreen;
    font-size: 10px;
    padding: 0;
}

.add-label {
    color: lightgrey;
    font-size: 10px;
    padding: 3px 0 0 3px;
}

.add-label-active {
    cursor: pointer;
    color: black;
    font-size: 10px;
    padding: 3px 0 0 3px;
}


.subtleButton {
    color: grey;
    background-color: lightgrey ;
}

.component-selected{
  background-color: #0b97c4;
}

.component-normal{
  background-color: #EEEEEE;
}



/* DRAFT JS */

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}