node_modules/
.idea/
backup/
imports/client/
mocha-output.json
imports/service_modules/design/unit_modules/
mocha-unit-output.json

!/imports/collections/backup/
!/imports/servicers/administration/
imports/service_modules/context/
imports/servicers/audit/
npm-debug.log
tests/mocha-mod-output.json
!/imports/collections/test_results/user_acc_test_results.js
/.test_results/

!/node_modules/ultrawide-mocha-reporter/
